body {
  font-family: "Ubuntu", sans-serif;
}

li {
  font-size: 0.8rem;
  margin-top: 2%;
}
a {
  text-decoration: none;
  color: black;
}

/* header */
.headername {
  font-size: 3rem;
}
.headerimage {
  background-image: url("https://images.unsplash.com/photo-1486520299386-6d106b22014b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bmF0dXJlfGVufDB8MHwwfHRlYWx8&auto=format&fit=crop&w=1400&q=60");
  height: 400px;
  margin-top: 40px;
}
.role {
  font-size: 1em;
}

/* main */
.selfie {
  border-radius: 50%;
}
#projects {
  margin: 0 auto;
}
.card-title {
  font-size: 14px;
}
.image-card {
  width: 100%;
  height: 300px;
}

iframe {
  border: solid 1px #777;
  width: 400px;
  height: 300px;
  padding: 0;
  overflow: hidden;
}
/* sticky footer */

#container {
  min-height: 100vh;
  margin-bottom: -12vh;
}

#container:after {
  content: "";
  display: block;
  height: 12vh;
}

footer {
  background-color: #eaf2f3;
  height: 12vh;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.copyright {
  font-size: 12px;
}
