body {
  font-family: "Ubuntu", sans-serif;
  width: 100vw;
}

li {
  font-size: 0.8rem;
  margin-top: 2%;
}
a {
  text-decoration: none;
  color: black;
}

/* header */
.headername {
  font-size: 3rem;
}
.headerimage {
  background-image: url("https://images.unsplash.com/photo-1486520299386-6d106b22014b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bmF0dXJlfGVufDB8MHwwfHRlYWx8&auto=format&fit=crop&w=1400&q=60");
  margin-top: 40px;
  width:100vw;
  background-size: cover;
  height:60vh;
}
.role {
  font-size: 1em;
}
  
/* main */
.selfie {
  border-radius: 50%;
}
#projects {
  margin: 0 auto;
}
.card-title {
  font-size: 14px;
}
.image-card {
  width: 100%;
  height: 300px;
}

.jquery{
  height:auto;
  width: 22%;
}

.socials {
  font-size: 0.8rem;
}
.skills-icons {
  font-size: 1.5rem;
}

#container {
  min-height: 100vh;
  margin-bottom: -15vh;
}

#myprojects{
  padding-top: 3vh;
  padding-bottom: 15vh;
  margin-bottom: 0;
}

.resume{
  height:100vh;
  width:auto;
}
#container:after {
  content: "";
  display: block;
  height: 15vh;
}
.feedbackButton{
position:fixed;
right:20px;
bottom:20px;
}

footer {
  background-color: #aedfe6;
  height: 15vh;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.copyright {
  font-size: 12px;
}
